body {
  padding: 2.1875rem 4.375rem;
}

.login-form {
  width: 25rem;
  .field-error {
    border: 1px solid red !important;
  }
 .form-fields {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  label {
    font-size: 20px;
    margin-bottom: .3125rem;
  }
  .input-wrapper {
    height: 1.875rem;
    width: 18.75rem;
    input {
      height: 100%;
      width: 100%;  
      border: 1px solid;
      border-radius: 6px;
      padding: 0 .25rem;
    }
  }
  .error {
    margin-top: .5rem;
    color: red;
  }
 }
 .radio-field {
   .radio-buttons {
    display: flex;
    flex-direction: row;
    .option {
      border: 1px solid gray;
      border-radius: 12px;
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 10px;
      }
      input {
        margin: 0 .625rem;
      }
    }
   }
 }
 .submit-btn {
  border: 1px solid;
  font-size: 16px;
  border-radius: .5rem;
  height: 2rem;
  width: 5rem;
  text-align: center;
  background-color: blue;
  color: white;
  border: transparent;
  cursor: pointer;
 }
}
